:root {
    --color-dark: #222831;
    --color-secondary-dark: #393e46;
    --color-accent: #00adb5;
    --color-light: #eeeeee;
    --color-primary-text: #C4DAD2;
    --color-border: #6A9C89;
    --color-input-bg: #E9EFEC;
    --color-hover: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: auto;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--color-light);
    background-color: var(--color-dark);
    height: 100vh;
}

.thyroid-health-section {
    background: linear-gradient(135deg, #1e1e2f, #2d2d3f, #222831);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100vh - 80px);
    margin-top: 80px;
}

.header {
    background-color: var(--color-secondary-dark);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-accent);
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    color: var(--color-light);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 500;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--color-accent);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: var(--color-accent);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 80px;
}

.container-head {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.form-container,
.result-container {
    width: 48%;
    background-color: var(--color-secondary-dark);
    color: var(--color-primary-text);
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
    color: var(--color-primary-text);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    flex: 0 0 30%;
    font-weight: bold;
    color: var(--color-input-bg);
}

.form-group input[type="text"],
input[type="number"],
.form-group select {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-dark);
    background-color: var(--color-input-bg);
}

.form-group input[type="submit"] {
    background-color: var(--color-accent);
    color: var(--color-primary-text);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: var(--color-hover);
    color: var(--color-input-bg);
}

.result-text {
    font-size: 1.4em;
    font-weight: bold;
    color: var(--color-primary-text);
    text-align: center;
}

.recommendations {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--color-primary-text);
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}

@media (max-width: 768px) {
    .form-container,
    .result-container {
        width: 100%;
        margin-bottom: 20px;
    }
}
